name: CI - Build & Push to Docker Hub

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push
        run: |
          IMAGE_TAG=${GITHUB_SHA}
          IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/strapi-app
          docker build -t $IMAGE_NAME:$IMAGE_TAG ./app
          docker push $IMAGE_NAME:$IMAGE_TAG
