name: CI - Build & Push to Docker Hub

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
            -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: |
          docker build -t strapi:${{ github.sha }} -f Docker/Dockerfile ./Strapi

      - name: Tag Image
        run: |
          docker tag strapi:${{ github.sha }} ${{ secrets.DOCKERHUB_REPO }}:${{ github.sha }}

      - name: Push Image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKERHUB_REPO }}:${{ github.sha }}

      - name: Save Image Tag
        run: echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_ENV

